body {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-height: 200px;
  transition: transform 0.1s;
}
img:hover {
  transform: scale(1.1);
}
#navbar {
  background: white;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 99999999;
  transition: all .4s ease;
}
#nav-items {
  background: none;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}
.nav-links {
  display: inline;
  transition-property: font-weight;
  transition-duration: 0.1s;
}
.nav-links:hover {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
}
#navbar a {
  color: #111;
}
#welcome {
  background: #111;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#welcome h2 {
  font-size: 40px;
}
#welcome h3 {
  font-family: "Lucida Console", Monaco, monospace;
  overflow: hidden; 
  border-right: .15em solid white; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    typing 1.25s steps(17, end),
    blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 190px}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}
#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
#projects {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  width: 100vw;
  background-color: #111;
}
#project-header{
  font-size: 40px;
}
.project-tile {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 100vh;
  padding-top: 30px;
}
.project-tile iframe {
  height: 90%;
  width: 100%;
  z-index: 999;
  background: white;
  border: 0;
}
.project-tile h2 {
  transition-property: font-size;
  transition-duration: 0.1s;
}
.project-tile h2:hover {
  font-size: 1.55em;
}
#contact {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  background: white;
  padding-bottom: 0;
}
#contact iframe {
  padding: 60px 0 0 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: white;
  border: 0;
}
